"*":
  "Optional Rule":
    prefix: "opt"
    body: '<${1:rule-name}> ::= <${1:rule-name}> | ""$0'
  "Recursive Rule":
    prefix: "rec"
    body: '<${1:recursive}> ::= <${2:rule-name}> | <${2:rule-name}> <${1:recursive}>$0'
  Rule:
    prefix: "rule"
    body: '<${1:rule-name}> ::= ${2:expression}$0'
