fileTypes: [
  "bnf"
]
name: "BNF"
patterns: [
  {
    begin: "([\\w-]+|<[\\w-]+>)\\s+(::=)\\s+"
    beginCaptures:
      "1":
        name: "storage.type.symbol.bnf"
      "2":
        name: "keyword.operator.assignment.bnf"
    end: ";"
    patterns: [
      {
        include: "#rule-name"
      }
      {
        include: "#string-double-quoted"
      }
      {
        include: "#string-single-quoted"
      }
    ]
  }
]
repository:
  "rule-name":
    begin: "(?:(\\w+)(\\@))?(<)"
    beginCaptures:
      "1":
        name: "variable.rule-tag.core-parse.bnf"
      "2":
        name: "punctuation.tag.core-parse.bnf"
      "3":
        name: "punctuation.rule-name.start.bnf"
    end: ">"
    endCaptures:
      "0":
        name: "punctuation.rule-name.end.bnf"
    patterns: [
      {
        match: "\\w+"
        name: "constant.other.symbol.rule-identifier.bnf"
      }
    ]
  "string-double-quoted":
    begin: "\""
    end: "\""
    name: "string.quoted.double.bnf"
  "string-single-quoted":
    begin: "'"
    end: "'"
    name: "string.quoted.single.bnf"
scope: "source.bnf"
scopeName: "source.bnf"
